<script type="text/javascript">
 jQuery(document).ready(function($) {
  
  $('a[rel*=facebox]').facebox()
})
</script>
<h6>Banks and dealers</h6>
<%if @banks_dealers.length>0 %>
<h4> List of the Banks and Dealers.</h4><br>
<ul class="newsInfo">
<% @banks_dealers.each do |asset| %>
<li>
 <p> <%= link_to(asset.name,{:controller =>'banks',:action => 'profile_display', :id =>asset.id},:title => "Bank Dealer",:rel =>'facebox'

      ) %></p>
  <div class="clear"></div>
</li>
<%end %>
</ul>
<%else %>
<h4>No Banks Dealers Found</h4>
<%end %>