<h2>Advance Search</h2>
<div class="list">
  <% form_tag({}, {:id => "advanesearch"}) do %>
    <%= select('search', 'sort',@sort_by=sort_by ,{:prompt => 'Sort By'},{:style=>"width: 150px;"})%>
  <% end %>
  <%= observe_field 'search_sort',
    :update => "partialLoadDiv",
    :url => {:controller => "forums", :action => "search_sort_by",:id => @forum.id},
     :with => "'sort=' + escape(value)"
%>
</div>