<h1>Welcome to Central Banks</h1>
<p style="padding-top: 20px;">Central Banks.com is an exclusive community of banking professionals with interests in central banks and sovereign wealth funds throughout the world.  To maintain the quality of the community, membership is by "invite only".  To become a member, you must be invited by a current member.  If you do not know of any current members, please <%= link_to "click here",signup_selection_path%> and we will help you join our community.
 </p>
