<tr>
  <td class="toptext" bgcolor="#cccccc" align="center" colspan="3">
    <p><font color="#3e3e3e">To ensure you receive all future emails from us,<br />
    please add the email address in the "From Line" to your address book.</font></p>
  </td>
</tr>
<tr>
  <td bgcolor="ffffff" class="headerbanner" colspan="3">
    <a href="<%= @host %>">
    <img src="<%= @host %>/images/email/header.jpg" width="600" height="87" border="0">
    </a>
  </td>
</tr>
