<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
<div id="inn_cont">
  <div id="header"><img src="images/logo.png" alt="" class="logo"  />
  <div class="box_rit02">
    <table width="95%" border="0" cellspacing="4" cellpadding="2">
      <tr>
        <td width="40%" height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15%" align="center"><input type="checkbox" name="checkbox" id="checkbox" /></td>
            <td width="85%"><a href="#">Remember me</a></td>
          </tr>
        </table></td>
        <td width="60%" align="right"><a href="#">Forgot your Password/User ID?</a></td>
      </tr>
      <tr>
        <td><input name="textfield2" type="text" class="box_rit02_text" id="textfield2" value="USER ID" size="25" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><input name="textfield" type="text" class="box_rit02_text" id="textfield" value="PASSWORD" size="25" /></td>
            <td><img src="images/sign_btt.jpg" width="66" height="20" border="0" /></td>
          </tr>
        </table></td>
      </tr>
    </table>
  </div>
    <!-- end #header --></div>
    <div class="clr_bt"></div>
    
    <!--<div class="menu">
    <ul>
    <li ><a href="#">My Dashboard</a></li>
    <li><a href="#" class="active">My Profile</a></li>
    <li><a href="#">My Messages (3)</a></li>
    <li><a href="#">CB Profiles</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Forum</a></li>
    <li><a href="#">Roadshow</a></li>
    </ul>
    </div>-->
    <div class="content">
    
    <div class="content_inner">
    <div class="cont_inner_top">
    <div class="cont_inner_lt">
    <div><div class="cont_tleft">SIGN UP</div>
    <div class="cont_trit">The best place to connect with central bank professionals from around the world</div>
    </div><div class="clr_bt"></div>
        Explain some of the benefits of becoming a member. Praesent ac neque condimentum ante sagittis ullamcorper. Curabitur odio libero, pretium sed tempor in, aliquam quis lacus. Vestibulum eu est ipsum, nec condimentum neque. 
    
 </div>
 <div class="cont_inner_rt"><img src="images/img03.jpg" alt="" /></div>
 </div>
 <div class="clr_bt"></div>
 
 <div class="main_cont_inner">
<div id="TabbedPanels2" class="TabbedPanels_inner">
        <ul class="TabbedPanelsTabGroup_inner">
          <li class="TabbedPanelsTab_inner" style="margin-left:10px; font:12px Arial, Helvetica, sans-serif; font-weight:bold;" tabindex="0">CENTRAL BANK EMPLOYEE</li>
          <li class="TabbedPanelsTab_inner" style="font:12px Arial, Helvetica, sans-serif; font-weight:bold;" tabindex="0">NON-CENTRAL BANK EMPLOYEE</li>

        </ul>
        <div class="TabbedPanelsContentGroup_inner">
          <div class="TabbedPanelsContent_inner">
          <table width="100%" border="0" cellspacing="4" cellpadding="2" align="center">
  <tr>
    <td colspan="2" align="left" class="tab_cont">Use this form if you're currently an employee at a central bank. If not, click &quot;non-central bank employee&quot; above.<br /> <span class="tab_cont_rd">*Displayed in profile</span></td>
    </tr>
  <tr>
    <td width="49%"><table width="100%" border="0" cellspacing="4" cellpadding="2">
      <tr>
        <td width="32%" align="right" class="tab_cont" >First Name <span class="tab_cont_rd">*</span> </td>
        <td width="68%"><input name="textfield3" type="text" id="textfield3" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Last Name <span class="tab_cont_rd">*</span></td>
        <td><input name="textfield4" type="text" id="textfield4" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Email</td>
        <td><input name="textfield5" type="text" id="textfield5" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Confirm Email</td>
        <td><input name="textfield6" type="text" id="textfield6" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Phone </td>
        <td><input name="textfield7" type="text" id="textfield7" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Fax</td>
        <td><input name="textfield8" type="text" id="textfield8" /></td>
      </tr>
      
    </table></td>
    <td width="51%"><table width="100%" border="0" cellspacing="4" cellpadding="2">
      <tr>
        <td width="34%" align="right" class="tab_cont" >Bank Name <span class="tab_cont_rd">*</span> </td>
        <td width="66%"><input name="textfield9" type="text" id="textfield9" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Country</td>
        <td><select name="select2" id="select2">
        </select>        </td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Department <span class="tab_cont_rd">*</span></td>
        <td><input name="textfield10" type="text" id="textfield10" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Title <span class="tab_cont_rd">*</span></td>
        <td><input name="textfield11" type="text" id="textfield11" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Password</td>
        <td><input name="textfield12" type="text" id="textfield12" /></td>
      </tr>
      <tr>
        <td align="right" class="tab_cont">Password Confirm</td>
        <td><input name="textfield13" type="text" id="textfield13" /></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  <tr>
    <td align="right"><table width="68%" border="0" cellspacing="2" cellpadding="2">
      <tr>
        <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
        <td class="tab_cont">Allow others to see phone number</td>
      </tr>
      <tr>
        <td width="8%" align="center"><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
        <td width="92%" class="tab_cont">Allow others to see email</td>
      </tr>
    </table></td>
    <td align="center" valign="middle"><img src="images/sign_butt.jpg" width="158" height="26" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

          
          
          
            <div class="clr_bt"></div>
    <div class="clr_bt"></div>
    </div>
          <div class="TabbedPanelsContent_inner">
            <div class="con_hd">Sort by
              <label>
                <select name="select" id="select">
                  <option>Date</option>
                  <option>Name</option>
                  <option>Top Rated</option>
                </select>
                </label>
            </div>
            <div class="bord"></div>
            <div class="wall">
              <div class="wall_img"><img src="images/img01.jpg" alt="" /></div>
              <p><a href="#">2009 Central Banks US Meeting</a></p>
              <p>Los Angeles, California</p>
              <p>31 images</p>
            </div>
            <div class="clr_bt"></div>
            <div class="bord"></div>
            <div>
              <div align="center"><a href="#"><img src="images/but-showmore.jpg" /></a></div>
            </div>
          </div>
          
          
        </div>
      </div> 
 
 
 
 
 
 </div>
 <div class="clr_bt"></div>
    
    </div>
    
    </div>
    <div class="clr_bt"></div>
    <div id="footer_inner">
     <div class="fot_lft"></div>
     <div class="fot_mid"><a href="#">About</a> <a href="#">privacy</a> <a href="#">contact us</a> <a href="#">help</a></div>
     <div class="fot_rgt"></div>
     <br class="clr_bt" />
  <!-- end #footer --></div>
<!-- end #container --></div>
</div>
<div id="footer_outer"></div>
<div id="copyrights_infor">Copyrights 2009. All rights reserved.</div>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels2");
//-->
</script>
</body>
</html>
