<h1>Listing docattachments</h1>

<table>
  <tr>
  </tr>

<% for docattachment in @docattachments %>
  <tr>
    <td><%= link_to 'Show', docattachment %></td>
    <td><%= link_to 'Edit', edit_docattachment_path(docattachment) %></td>
    <td><%= link_to 'Destroy', docattachment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New docattachment', new_docattachment_path %>
