<p class="mid_para"><strong id="bold_txt">My Dashboard</strong><br/>
This is your home page. You will be able to see your messages, see the ongoing forums, search for people, see the latest in news by your chosen news service and invite users.  Only members can invite others to become members.
</p>
<p class="mid_para">
<strong id="bold_txt"> My Profile</strong><br/>
This is your individual profile where you have a choice as to what can be seen and who can see it.  You can post a picture of yourself and important details.
</p>
<p class="mid_para">
    <strong id="bold_txt">Room-</strong><br/>
	The room is a unique way to hold white papers, articles, pictures important information, videos etc.  You can invite your contacts to visit your room at any time or give them permanent access to see your room.
</p>
<p class="mid_para">
<strong id="bold_txt">Recent Activity</strong><br/>
This will show all of your recent activity and forum posts that you are involved with.</p>

<p class="mid_para"><strong id="bold_txt"> Contacts:</strong> This is a list of all of your contacts.  You can choose here that connected members can see your contacts. (??)</p>

<p class="mid_para"> <strong id="bold_txt">Time Zones </strong><br/>
Edit your time zone so centralbanks.com can determine the time and day when you sent a message or posted a forum.</p>
<p class="mid_para"><strong id="bold_txt"> News Feed </strong><br/>
Chose your news feed which will allow you to customize the news from the news service you like to see.</p>
<p class="mid_para"><strong id="bold_txt">
My Messages</strong><br/>

This is where you can send a message, see your inbox and your sent items.  You can search for old messages as well.</p>
<p class="mid_para"><strong id="bold_txt">
Member Profiles</strong><br/>

This is the area where you can search for members and try to connect with them.  You can search by name or search by country.  Central bankers have 5 chances a month to connect with a certain person.  Non central bankers have 2 chances a month to connect. After the allotted chances to connect are used you will not be allowed for another 30 days.
</p>

<p class="mid_para"><strong id="bold_txt">Forums</strong><br/>

There are two sets of forums, one for everyone on the site and one for just the official institutions.
Anyone on the site can participate in the forums.  On the CB-forums this is exclusively for the professionals at the central banks, sovereign wealth funds or other official institutions.  Non central bankers will not be able to see this forum.  Under the forums you will be able to post your forum see the forums in progress or search for older forums.  This will be an exciting way to share opinions and ask for information that other members may have.</p>
<p class="mid_para"><strong id="bold_txt">
Resources</strong><br/>
Under this section, Central banks (CB'S), Sovereign Wealth Funds (SWF), and Official institutions, (OI) will have unfettered access to all of the tabs.  The others will not. If you are not one of the three and would like your organization to have a profile under one of these tabs, please connect to this link and we will send you the information and the pricing schedule. info@centralbanks.com/pricing. Please click on each header for an example of each.</p>

<p>The resources section will give you plenty of information at your fingertips.

 <p class="mid_para"><strong id="bold_txt">Central banks </strong><br/>
 This will direct you to the web site of every central bank alphabetically.</p>
 <p class="mid_para"><strong id="bold_txt">	Sovereign Wealth Funds </strong><br/>
 This will direct you to the website of the world’s sovereign wealth funds.</p>

<p> To have a profile of your organization under the following tabs please click the link at info@centralbanks.com/pricing and you will receive a call or an email from our administrator.  Please click on each tab for an example of what the profile could look like.</p>
  <p class="mid_para"><strong id="bold_txt">	Supranational& Sovereign Issuers </strong><br/>
  This is where the largest sovereign and supranational issuers of debt can post their information and give members direct access to their websites and issuance plans.  This will give members access to the issuers at their leisure and in turn give the issuers a place to explain mandates and news about their organization.  Access of course is 24/7.</p>

	<p class="mid_para"><strong id="bold_txt">Asset Managers</strong><br/>
    This is where any asset manager who wishes access to the central banks can post who they are, how they operate and what they can offer the central banks(CB'S), sovereign wealth(SWF) funds and other official institutions(OI).   It will give CB'S,SWF and OI, access at their leisure to look at what asset managers have to offer or the expertise they choose to post on the site.</p>
  <p class="mid_para"><strong id="bold_txt">Hedge Funds</strong><br/>
  This is where hedge funds or other managers who wish access to the central banks can post who they are, how they operate and what they can offer members.  It will give CBS, SWF and OI access at their leisure to the profiles of those who wish to post their services.</p>
 <p class="mid_para"><strong id="bold_txt">	Banks & Dealers</strong><br/>
 This is where banks and dealers can show their profiles and capabilities and have a profile of who to contact and links to the website.  It will give the CB'S, SWF and OI access to the profiles of each bank who wishes to participate and have a profile.</p>

	 <p class="mid_para"><strong id="bold_txt">Other issuers</strong><br/>
     Any issuer who wants to profile their company and funding needs can have their profile here.</p>
	<p class="mid_para"><strong id="bold_txt">Links</strong><br/>
    Here you can find links to various business related news sites and other social networking sites.  We can add links with your suggestion.</p>
<p class="mid_para"><strong id="bold_txt">Road shows </strong><br/>
This part of the site is run only by the administrator at centralbanks.com.  This will allow for anyone to produce a road show and send it to specific members or the whole site.  For example if issuer x has a new deal and wants to send this out to all the members the administrator will do this for them.  If a central bank has an official release they want others to know we can release that.  In addition through this resource section we will be conducting surveys where the results can be quite useful to other members.  I.e. where do you see the dollar by years end? Where do you see oil by December 31?  The survey will be anonymous but the results will be a powerful piece of information.  The questions will only be sent to CB'S, SWF, and OI.  Results will be known to all participants first and released to paying members for a monthly subscription fee.</p>
</p>