<h2> Privacy Policy</h2>

<p class="mid_para"><strong id="bold_txt">Central Banks.com Privacy Program</strong><br/>
This privacy statement covers the Web site <a href='http://www.centralbanks.com' target="_blank">http://www.centralbanks.com.</a> Because this Web site wants to demonstrate its commitment to your privacy, it has agreed to disclose its information practices and have its privacy practices reviewed for compliance by TRUSTe. If you have questions or concerns regarding this statement, you should first contact  <a href="">support@centralbanks.com </a>.</p>
                                         
<p class="mid_para"><strong id="bold_txt"> Information Collection</strong><br/>
You may view some areas of our site for free and register for a free account. We collect information such as your name, address and email and we use this information to contact you about the services on our site in which you have expressed interest.
You have the option to provide demographic information (such as gender and professional titles) to us; we encourage you to submit this information so we can provide you a more personalized experience on our site.
When you register for centralbanks.com, you will receive a short welcome email. If you opt to receive newsletters from us, you will receive a monthly email. We will not use the information collected from your registration or general use of the site in any way, shape, or form. In addition, any other material you provide us (including images, email addresses, etc.) will be held in the strictest confidence.
We do not collect personally identifiable information about you except when you specifically provide this information on a voluntary basis. We will make every effort to ensure that whatever information you provide will be maintained in a secure environment.</p>
<p class="mid_para"><strong id="bold_txt"> Log Files </strong><br/>
As is true of most Web sites, we gather certain information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and click stream data.
We use this information, which does not identify individual users, to analyze trends, to administer the site, to track users’ movements around the site and to gather demographic information about our user base as a whole.
We do not link this automatically-collected data to personally identifiable information.</p>
<p class="mid_para"> <strong id="bold_txt"> Information Use</strong><br/>
SurveyMonkey.com reserves the right to perform statistical analyses of user behavior and characteristics. We do this in order to measure interest in and use of the various areas of the website.
Centralbanks.com collects IP addresses for system administration and record keeping. Your IP address is automatically assigned to your computer when you use the World Wide Web. Our servers record incoming IP addresses. The IP addresses are analyzed only in aggregate; no connection is made between you and your computer's IP address. By tracking IP addresses, we can determine which sources refer the most people to Centralbanks.com (Think of an IP address like your zip code; it tells us in general terms where you're from.)</p>

<p class="mid_para"> <strong id="bold_txt"> Communications from the Site</strong><br/>
<font color="blue" size="3" class="title_blue"> Service-Related Announcements </font>
<p class="mid_para">We will send you strictly service-related announcements on rare occasions when it is necessary to do so. For instance, if our service is temporarily suspended for maintenance, we might send you an email.
Generally, you may not opt-out of these communications, which are not promotional in nature. If you do not wish to receive them, you have the option to deactivate your account.</p>
<p class="mid_para"><font color="blue" size="3" class="title_blue">Customer Service</font></p>
<p class="mid_para">Based upon the personally identifiable information you provide us, we will send you a welcoming email to verify your username and password. We will also communicate with you in response to your inquiries, to provide the services you request, and to manage your account. We will communicate with you by email or telephone, in accordance with your wishes.</p>
 <p class="mid_para"><font color="blue" size="3" class="title_blue">Newsletters</font></p>
<p class="mid_para"> If you wish to subscribe to our newsletter(s), we will use your name and email address to send the newsletter to you. Out of respect for your privacy, we provide you a way to unsubscribe. Please see the “Opting out” section.</p>
<p class="mid_para"><font color="blue" size="3" class="title_blue">Sending Emails on User’s Behalf</font></p>
<p class="mid_para">We also send connection invitation emails on behalf of other members. The member email list is stored on our system, but is not used by centralbanks.com in any other way. The emails sent on our members behalf appear to come from the members email address.</p>
<p class="mid_para"><font color="blue" size="3" class="title_blue">Surveys</font></p>
<p class="mid_para"> From time-to-time we may provide you the opportunity to participate in surveys on our site. If you participate, we will request certain personally identifiable information from you. Participation in these surveys is completely voluntary and you therefore have a choice whether or not to disclose this information. The requested information typically includes contact information (such as name and shipping address), and demographic information (such as zip code).</p>
<p class="mid_para"><font color="blue" size="3" class="title_blue">Testimonials</font></p>
 <p class="mid_para">We post testimonials from time to time. We always receive permission to post prior to posting.</p> </p>
<p class="mid_para"<strong id="bold_txt">Opting Out</strong><br/>
Upon request, centralbanks.com will allow any user to opt out of our monthly newsletter. You can contact us through our <a href="http://www.surveymonkey.com/HelpCenter" target="_blank">support</a> center or follow the unsubscribe instructions included in each promotional email sent to you including the newsletter.</p>
<p class="mid_para"><strong id="bold_txt">Links to Other Sites</strong><br/>
This Web site will contain links to other sites that are not owned or controlled by centralbanks.com. Please be aware that we, centralbanks.com, are not responsible for the privacy practices of such other sites.
We encourage you to be aware when you leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information.
This privacy statement applies only to information collected by this Web site.</p>
<p class="mid_para"> <strong id="bold_txt"> Access to Personally Identifiable Information</strong> <br/>
If your personal identifiable information changes, or if you no longer desire our service, you may correct, update, delete or deactivate it by making the change by emailing Support at support@centralbanks.com.  We will respond to any request for access within 30 days.</p>
<p class="mid_para"> <strong id="bold_txt">Legal Disclaimer</strong><br/>
We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process served on our Web site</p>
<p class="mid_para"> <strong id="bold_txt"> General Security Policy</strong><br/>
Centralbanks.com is aware of your privacy concerns and strives to collect only as much data as is required to make your Centralbanks.com experience as efficient and satisfying as possible, in the most unobtrusive manner as possible.
If you have any questions about security on our Web site, you can send email us at <a href="">support@centralbanks.com</a></p>
<p class="mid_para"><strong id="bold_txt">Changes in this Privacy Statement</strong><br/>
<p class="mid_para"> If we decide to change our privacy policy, we will post those changes to this privacy statement, the home page, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</p>
<p class="mid_para">We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, by email, or by means of a prominent notice on our home page.</p></p>
<p class="mid_para"> <strong id="bold_txt">Contact Us</strong><br/>
If you have any questions or suggestions regarding our privacy policy, please contact us at:
<a href="" >support@centralbanks.com </a></p>
